.background {
    background-repeat: no-repeat;
    position: fixed;
    left: 1%;
    padding-bottom:101%;
    width: 101%;
    height: 12%;
  	margin-top:-2%;}




#top{
	position: fixed;
	margin-top: -0.5%;
	right: 40%;
	width: 60%;


}
#navigation{
	text-decoration: none ;
	background-image: linear-gradient(to right,rgba(255,0,0,0), rgba(255,0,0,0.8));
	border-radius: 25px;
	font-family:cursive;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	color: whitesmoke;
}

.products{
	position: relative;
  display:inline-block;

}

.Accounts_Deposits .loans .insurance{
	position: relative;
	display: inline-block;

}

.card{
	position: relative;
  display:inline-block;
	top: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
	height: 300%;
	padding-left: 10%;
	left: 10%;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius:30px ;

}


.dropdown-deposits{
  display: none;
  position: absolute;
	top:10%;
	left: 100px;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

	border-radius:50px ;
}


.dropdown-loans{
  display: none;
  position: absolute;

	top: 41%;
	left: 70px;
  background-color: #f1f1f1;
  min-width: 120px;
border-radius:50px ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-insurance{
  display: none;
  position: absolute;
	top: 65%;
	left: 70px;
  background-color: #f1f1f1;
  min-width: 120px;
border-radius:50px ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-card{
  display: none;
  position: absolute;
	top: 65%;
	left: 10px;
  background-color: #f1f1f1;
  min-width: 120px;
border-radius:50px ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content z{
	font-size: 10px;
  color:black;
  padding-left: 0%;
	padding-right: 10%;
	padding-top: 10%;
  text-decoration: none;
  display:block;

}
.dropdown-deposits y {
	font-size: 10px;
	color: black;
	padding-left: 0%;
	padding-right: 100%;
	padding-top: 10%;
	text-decoration: none;
	display: block;
}
.dropdown-loans x{
	font-size: 10px;
  color: black;
  padding-left: 0%;
	padding-right: 100%;
	padding-top: 10%;
  text-decoration: none;
  display:block;
}

.dropdown-insurance w{
	font-size: 10px;
  color: black;
  padding-left: 0%;
	padding-right: 100%;
	padding-top: 10%;
  text-decoration: none;
  display:block;
}
.dropdown-card v{
	font-size: 10px;
  color: black;
  padding-left: 0%;
	padding-right: 100%;
	padding-top: 10%;
  text-decoration: none;
  display:block;
}



.dropdown-content z:hover {}
.dropdown-deposits y:hover {}
.dropdown-loans x:hover {}
.dropdown-insurance w:hover{}
.dropdown-card v:hover{}

.products:hover .dropdown-content {display: block;}
.products:hover .top {background-color: #3e8e41;}

.Accounts_Deposits:hover .dropdown-deposits {display: block;}
.Accounts_Deposits:hover .top{background-color: #3e8e41;}

.loans:hover .dropdown-loans {display: block;}
.loans:hover .top{background-color: #3e8e41;}

.insurance:hover .dropdown-insurance {display: block;}
.insurance:hover .top{background-color: #3e8e41;}

.card:hover .dropdown-card {display: block;}
.card:hover .top{background-color: #3e8e41;}




.divheader{
	position: fixed;
	margin-top: -0.5%;
	left: 63.2%;

}

#headerfont{
	font-size: 50px;
	background-color: lightyellow;
	color: brown;

}

#ABC{
	font-size: 60px ;
	color: blue;
}

#offersimg {
	position: fixed;
	margin-top: 6%;
	left: 1px;
	z-index: 1;

	width: 10%;
	height: 10%;
}


#offers{
	position:fixed;
	margin-top: 10%;
	top:-1%;
	margin-right: 80%;
	width: 100%;
	height: 10%;
	background-color: crimson;
	z-index: -1;
}

#font{
	font-size: 20px;
color: white;
}

#newsimg{
	position: absolute;
	margin-top: 17%;
	left: 0.01%;
	z-index: 1;

	width: 10%;

}

#news{
	background-color: greenyellow;
	position:absolute;

	margin-top: 26%;
	margin-right: 80%;
	width: 55%;
	border-radius: 10px;

}




border{
	position: fixed;
	top: 50%;
	left: 58%;
	border: 5px solid red;
	border-radius: 50px;
	width: 40%;
	height: 30%;


}



.form0{
		margin-top:18.3%;
		position: absolute;
		left: 76.5%;
		z-index: 1;


}


#form1{
	margin-top: 2%;
	left: 10%;
	position: absolute;

height: 70%;
	padding: 1%;
	width: 35%;
}

pre{
		font-size: 30px;
		color: darkslategrey;


}

#form2{
	margin-top: 2%;
	left: 60%;
	position: absolute;
	margin-right:100% ;
	width: 35%;
	height: 70%;



}

.border{
border-radius: 8px;
border :2px dotted green ;

}

#form3{

position:absolute;
left:71.5%;
top: 78.5%;
float: right;

z-index: 1;
width: 20%;
	height: 5%;

}

#submit{

	width: 40%;
	border-radius: 50px;
padding-top: 0.1%;

padding-right: 5%;
font-style:italic;
font-weight: bold;
font-size: 30px;
color:grey ;
 background-image: linear-gradient(to bottom,greenyellow,lightgreen);
 position: absolute;

}

#reset{
	position: absolute;
	width: 40%;
	left: 55%;
	border-radius: 50px;
	padding-top:0.1%; 
	padding-bottom: 0.1%;

	font-style:italic;
	font-size: 30px;
	font-weight: bold;
	color:darkgrey ;
 	background-image: linear-gradient(to top,crimson,red);
}

.footer{
	position: absolute;
	top:96.8%;
	width: 100%;
	left: 0%;
background-color: olive;


}

#footerfont{
	font-size: 20px;
   z-index: 1;
	}
#innercopyright{

	color: blue;

}

#AboutUs{
	background: linear-gradient(to bottom,indianred,crimson);
	position: fixed;
	top: 1%;
	width: 100%;

}

#aboutusdiv{
	position: relative;
	padding-top: 5%;
	top: 50px ;
	text-align: justify;
  text-justify: inter-word;

}

#creditcard{

			top: 5%; 
			position: fixed;
			left: 0.5%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to right,#DDB530,#D8231D,#25A8E7) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}

#debitcard{

			top: 5%; 
			position: fixed;
			left: 34%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to bottom,#000E28,#081935,#354661,#000E28,#081935) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}

#loan1{

			top: 5%; 
			position: fixed;
			left: 68%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to right,#3CAD05,#2368EA,#E40706,#F38610) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}

#avail{

			top:35%;
			position: fixed;
			left:35% ;
			color:lightgreen; 

}

#availtext{

		font-size: 30px;
		font-style: italic;
		font-family: cursive;

}


#mutualfund{

			top: 50%; 
			position: fixed;
			left: 0.5%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to top ,#75A9EC,whitesmoke) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}

#carloan{

			top: 50%; 
			position: fixed;
			left: 34%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to top ,#FCFCFC,#C52021,#CB693F,#D5B992) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}

#homeloan{

			top: 50%; 
			position: fixed;
			left: 68%;
			border-radius: 50px;
			width: 28%;
			height: 30%;
			background-image:linear-gradient(to top ,#F6C4C7,#E67947,#FF530A,#FC82AA) ; 
			border: 5px solid crimson;
			padding-top: 10px; 		
			padding-left:15px;
			padding-right: 16px;
		
}









